<title>Galappear|Logos</title>
<link rel="icon" href="http://theelearningcoach.com/wp-content/uploads/2015/06/technical-graphic-concepts.png">
<link type="text/css" rel="stylesheet" href="css/galappear.min.css" media="screen,projection">
<link type="text/css" rel="stylesheet" href="css/galappear.css">

<body>
  <header class="main-header">
    <nav class="transparent z-depth-0">
      <div class="nav-wrapper">
        <a href="#" data-activates="mobile-nav" class="button-collapse show-on-large">
          <i class="material-icons">menu</i>
        </a>
        <a href="/galappear" class="brand-logo">Galappear</a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/galappear">Abstract</a>
          </li>
          <li class="active">
            <a href="/logos">Logos</a>
          </li>
          <li>
            <a href="/gaming">Gaming</a>
          </li>
          <li>
            <a class='dropdown-button btn transparent' href='#' data-activates='dropdown-1'>Projects</a>
            <ul id='dropdown-1' class='dropdown-content'>
              <li>
                <a href="/travelville">TravelVille</a>
              </li>
              <li>
                <a href="/quazzu">Quazzu</a>
              </li>
              <li>
                <a href="/madmin">M-Admin</a>
              </li>
              <li>
                <a href="bizland">Bizland</a>
              </li>
              <li>
                <a href="galappear">Galappear</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <ul class="side-nav" id="mobile-nav">
        <li>
          <a href="/galappear">Abstract</a>
        </li>
        <li>
          <a href="/logos">Logos</a>
        </li>
        <li>
          <a href="/gaming">Gaming</a>
        </li>
      </ul>
    </nav>
    <h1 class="center">Graphic Designs</h1>
    <h4 class="center">Elton John Acevedo Yazon</h4>
  </header>

  <section class="section section-main">
    <div class="container">
      <div class="row row-1">
        <div class="col m6 hide-on-small-only">
          <div class="img-content">
            <h3>Strizzes</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim assumenda quis accusantium nulla
            voluptatibus, officiis veniam nam delectus, temporibus corporis aspernatur labore sapiente quod rem!
          </div>
        </div>
        <div class="col m6">
          <div class="card">
            <div class="card-image">
              <img src="img/gallery/logo1.jpg" alt="">
              <span class="card-title">Strizzes</span>
              <a href="#logo1" class="btn-floating halfway-fab waves-effect waves-light red modal-trigger">
                <i class="material-icons">add</i>
              </a>
            </div>
            <div class="card-content">
              <p>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-2">
        <div class="col m6">
          <div class="card">
            <div class="card-image">
              <img src="img/gallery/logo2.jpg" alt="">
              <span class="card-title">Unix</span>
              <a href="#logo2" class="btn-floating halfway-fab waves-effect waves-light red modal-trigger">
                <i class="material-icons">add</i>
              </a>
            </div>
            <div class="card-content">
              <p>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col m6 hide-on-small-only">
          <div class="img-content">
            <h3>Unix</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit amet cumque veritatis officiis labore veniam
            dignissimos officia praesentium consequatur dolor quisquam, quidem rem fuga inventore.
          </div>
        </div>
      </div>
      <div class="row row-3">
        <div class="col m6 hide-on-small-only">
          <div class="img-content">
            <h3>Hosting</h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, aspernatur eius laudantium quo eveniet illo
            velit consequatur nihil minus tempore earum, facere ipsum, alias ut.
          </div>
        </div>
        <div class="col m6">
          <div class="card">
            <div class="card-image">
              <img src="img/gallery/logo3.jpg" alt="">
              <span class="card-title">Hosting</span>
              <a href="#logo3" class="btn-floating halfway-fab waves-effect waves-light red modal-trigger">
                <i class="material-icons">add</i>
              </a>
            </div>
            <div class="card-content">
              <p>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Me</h5>
          <p class="grey-text text-lighten-4">Passionate and inventive professional with a goal to deliver
            award-winning graphic design within a reasonable time
            frame.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="/galappear">Abstract</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="/logos">Logos</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="/gaming">Gaming</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <small class="grey-text text-lighten-4 right">Wizy.io © 2018 Galappear</small>
      </div>
    </div>
  </footer>

  <div id="logo1" class="modal">
    <div class="modal-content">
      <h4>Strizzes</h4>
      <img src="img/gallery/logo1.jpg" alt="" class="responsive-img">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae illum nihil, aut quos sequi dolorum atque
        delectus, eligendi veniam quasi dicta est nemo, culpa magnam.
      </p>
    </div>
    <div class="modal-footer">
      <p>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star_half</i>
      </p>
    </div>
  </div>

  <div id="logo2" class="modal">
    <div class="modal-content">
      <h4>Unix</h4>
      <img src="img/gallery/logo2.jpg" alt="" class="responsive-img">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore magnam culpa totam laboriosam soluta?
        Voluptatum recusandae iure tenetur aspernatur. Deserunt quod rerum rem recusandae dignissimos nesciunt! Totam
        deleniti architecto quasi sint amet rerum maxime maiores.
      </p>
    </div>
    <div class="modal-footer">
      <p>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
      </p>
    </div>
  </div>

  <div id="logo3" class="modal">
    <div class="modal-content">
      <h4>Hosting</h4>
      <img src="img/gallery/logo3.jpg" alt="" class="responsive-img">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nisi sunt et alias reiciendis eum possimus
        numquam optio eos a similique ducimus, minima praesentium vitae vel quasi aperiam consequuntur veritatis
        pariatur ut ad quidem. Ipsam!
      </p>
    </div>
    <div class="modal-footer">
      <p>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star</i>
        <i class="material-icons">star_border</i>
      </p>
    </div>
  </div>

</body>

<script>
  $(document).ready(function () {
    $('.dropdown-button').dropdown({
      constrainWidth: false,
      belowOrigin: true,
      alignment: 'right'
    });
    $('.button-collapse').sideNav();
    $('.modal').modal();
    const options = [
      {
        selector: '.row-1', offset: 0, callback: function (el) {
          Materialize.fadeInImage($(el));
        }
      },
      {
        selector: '.row-2', offset: 300, callback: function (el) {
          Materialize.fadeInImage($(el));
        }
      },
      {
        selector: '.row-3', offset: 400, callback: function (el) {
          Materialize.fadeInImage($(el));
        }
      }
    ];

    Materialize.scrollFire(options);

  });
</script>