<title>M-Admin|Categories</title>
<link rel="icon" href="img/icon_m-admin.png">

<body>
  <nav class="blue darken-2">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/madmin" class="brand-logo">M-Admin</a>
        <a href="#" class="button-collapse show-on-large right" data-activates="side-nav">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/madmin">Dashboard</a></li>
          <li><a href="/posts">Posts</a></li>
          <li class="active"><a href="/categories">Categories</a></li>
          <li><a href="/comments">Comments</a></li>
          <li><a href="/users">Users</a></li>
          <li>
            <a class='dropdown-button btn btn-large blue lighten-1 white  -text' href='#' data-activates='dropdown-1'>Projects</a>
            <ul id='dropdown-1' class='dropdown-content'>
              <li>
                <a href="/travelville">TravelVille</a>
              </li>
              <li>
                <a href="/quazzu">Quazzu</a>
              </li>
              <li>
                <a href="/madmin">M-Admin</a>
              </li>
              <li>
                <a href="bizland">Bizland</a>
              </li>
              <li>
                <a href="galappear">Galappear</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul id="side-nav" class="side-nav">
          <li>
            <div class="user-view">
              <div class="background">
                <img src="img/ocean.jpg" alt="">
              </div>
              <a href="">
                <img src="img/person1.jpg" alt="" class="circle">
              </a>
              <a href="#">
                <span class="name white-text">
                  Elton John Yazon
                </span>
              </a>
              <a href="#">
                <span class="email white-text">
                  ejayazon@gmail.com
                </span>
              </a>
            </div>
          </li>
          <li><a href="/madmin">Dashboard</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/comments">Comments</a></li>
          <li><a href="/users">Users</a></li>
          <li>
            <a class='dropdown-button btn btn-large blue lighten-1 white-text' href='#' data-activates='dropdown-2'>Projects</a>
            <ul id='dropdown-2' class='dropdown-content'>
              <li>
                <a href="/travelville">TravelVille</a>
              </li>
              <li>
                <a href="/quazzu">Quazzu</a>
              </li>
              <li>
                <a href="/madmin">M-Admin</a>
              </li>
              <li>
                <a href="bizland">Bizland</a>
              </li>
              <li>
                <a href="galappear">Galappear</a>
              </li>
            </ul>
          </li>
          <li>
            <div href="" class="divider"></div>
          </li>
          <li>
            <a href="" class="subheader">Account Controls</a>
          </li>
          <li>
            <a href="/login" class="waves-effect">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="section section-categories grey lighten-4">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Categories</span>
              <table class="striped">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Date Created</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Web Development</td>
                    <td>January 1, 2018</td>
                    <td>
                      <a href="/details" class="btn blue lighten-2">Details</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Graphic Design</td>
                    <td>January 2, 2018</td>
                    <td>
                      <a href="/details" class="btn blue lighten-2">Details</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Tech Gadgets</td>
                    <td>January 4, 2018</td>
                    <td>
                      <a href="/details" class="btn blue lighten-2">Details</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Other</td>
                    <td>January 6, 2018</td>
                    <td>
                      <a href="/details" class="btn blue lighten-2">Details</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-action center">
              <ul class="pagination">
                <li class="disabled">
                  <a href="#!" class="blue-text">
                    <i class="material-icons">chevron_left</i>
                  </a>
                </li>
                <li class="active blue lighten-2">
                  <a href="#!" class="white-text right">
                    <span class="center-align"> &nbsp; &nbsp; &nbsp;1</span>
                  </a>
                </li>
                <li class="waves-effect">
                  <a href="#!" class="blue-text"> &nbsp; &nbsp; &nbsp;2</a>
                </li>
                <li class="waves-effect">
                  <a href="#!" class="blue-text"> &nbsp; &nbsp; &nbsp;3</a>
                </li>
                <li class="waves-effect">
                  <a href="#!" class="blue-text"> &nbsp; &nbsp; &nbsp;4</a>
                </li>
                <li class="waves-effect">
                  <a href="#!" class="blue-text"> &nbsp; &nbsp; &nbsp;5</a>
                </li>
                <li class="disabled">
                  <a href="#!" class="blue-text">
                    <i class="material-icons">chevron_right</i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="section blue darken-2 white-text center">
    <p>M-Admin Panel Copyright &copy; 2018</p>
  </footer>

  <div class="fixed-action-btn">
    <a href="#category-modal" class="modal-trigger btn-floating btn-large red">
      <i class="material-icons">add</i>
    </a>
  </div>

  <div id="category-modal" class="modal">
    <div class="modal-content">
      <h4>Add Category</h4>
      <form action="">
        <div class="input-field">
          <input type="text" id="title">
          <label for="category">Category</label>
        </div>
      </form>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn blue white-text">Submit</a>
      </div>
    </div>
  </div>

  <div class="loader preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

</body>

<script>
  $('.section').hide();
  setTimeout(function () {
    $(document).ready(function () {
      $('.section').fadeIn();
      $('.loader').fadeOut();
      $('.button-collapse').sideNav();
      $('.dropdown-button').dropdown({
        belowOrigin: true,
        alignment: 'right'
      });
      $('.modal').modal();
    });
  }, 1500);

</script>