<footer class="page-footer deep-purple lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Us</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat est
          dolores iure quasi cum culpa ratione. Provident fugiat molestiae ad.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/project_b">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="/solutions">Solutions</a></li>
          <li><a class="grey-text text-lighten-3" href="/signup">Signup</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright deep-purple darken-1">
    <div class="container">
      Squamy © 2018
      <a class="grey-text text-lighten-4 right" href="#!">Terms and Conditions</a>
    </div>
  </div>
</footer>